<%= form_with url: search_path, method: :get, data: { turbo_stream: true }, id: "search-bar" do |form| %>
  <div class="w-full p-4 md:hidden">
    <label class="input input-bordered flex items-center gap-2 bg-neutral-800 rounded-md p-2">
      <%= heroicon("magnifying-glass", variant: :outline, size: :md) %>
      <%= form.text_field :query, 
                         type: "search", 
                         inputmode: "search",
                         spellcheck: false, 
                         autocorrect: "off",
                         data: { controller: "auto-submit", action: "keydown->auto-submit#submit" }, 
                         placeholder: "Search for music...", 
                         class: "w-full placeholder-neutral-500 dark:placeholder-neutral-400 text-sm focus:outline-none bg-transparent" %>
    </label>
  </div>
<% end %>
<div id="search-results">
  <%= render partial: "search_results", locals: { query: params[:query], top_result: @top_result, recordings: @recordings, orchestras: @orchestras, playlists: @playlists, tandas: @tandas } %>
</div>