<h1>Recordings</h1>
<% if @recordings.present? %>
  <div class="flex flex-col gap-4 py-4 px-2 md:px-0 md:py-16">
    <%= render @recordings %>
  </div>
  <%= turbo_frame_tag "music-player" %>
<% else %>
  <div class="flex flex-col items-center gap-4 py-8">
    <div class="text-center">
      <%= inline_svg_tag("logos/tangocloud-logo-with-text.svg", class: "w-36 h-auto mx-auto dark:fill-neutral-100") %>
    </div>
    <p class="text-center text-neutral-600 dark:text-neutral-300">No recordings found.</p>
  </div>
<% end %>
