- meta.title = @recording.title
- meta.description = [@recording.orchestra.name, @recording&.singers.map(&:name), @recording.recorded_date.year, @recording.genre.name].join(" • ")
- meta.image = @recording.audio_transfers.first&.album&.album_art&.url
div data-controller="redirect" data-redirect-url-value=recording_path(@deeplink_url)
