- meta.title = @recording.title
- meta.description = [@recording.orchestra.name, @recording&.singers.compact&.map(&:name), @recording.recorded_date.year, @recording.genre.name].compact.join(" • ")
- meta.image = @recording.audio_transfers.first&.album&.album_art&.url
= meta property="al:ios:url" content=@deeplink_url
= meta property="al:ios:app_store_id" content="8DN6UL88PX"
= meta property="al:ios:app_name" content="TangoCloud"
= meta property="al:android:url" content=@deeplink_url
= meta property="al:android:package" content="com.tangocloud"
= meta property="al:android:app_name" content="TangoCloud"
= meta property="al:web:url" content="https://tangocloud.app"
