<%# locals: (tanda:, recording:) %>
<% cache([:tanda, :recording_form, recording]) do %>
  <div class="w-full flex gap-4 items-center hover:bg-neutral-900 hover:cursor-pointer rounded-lg">
    <%= form_with url: load_tanda_recording_path(tanda_id: tanda.id, id: recording.id), class: "flex gap-4 items-center" do |form| %>
      <%= button_tag type: :submit, class: "flex gap-4 items-center text-left" do %>
        <%= render partial: "recordings/recording", locals: { recording: recording } %>
      <% end %>
    <% end %>
  </div>
<% end %>