<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 rounded-lg shadow-lg">
  <h1 class="col-span-full text-3xl font-semibold text-neutral-900 dark:text-neutral-100">Tandas</h1>
  <%= render @tandas %>
</div>
