<%= form_with model: @tanda, local: true, class: "flex flex-col gap-4" do |form| %>
  <div class="form-control">
    <%= form.label :title, "Tanda Title", class: "label font-semibold text-neutral-600 dark:text-neutral-200" %>
    <%= form.text_field :title, class: "input input-bordered w-full dark:bg-neutral-800 dark:text-white" %>
  </div>
  <div class="form-control">
    <%= form.submit "Create Tanda", class: "btn btn-primary w-full" %>
  </div>
<% end %>