<div class="bg-neutral-950 text-neutral-400 text-center py-2 px-4 flex items-center justify-center gap-4">
  <p class="text-sm flex items-center gap-4">
    <span>If you believe in the work we're doing, please consider supporting us.</span>
    <a href="https://github.com/jmarsh24/tangocloud" class="flex items-center gap-2 hover:text-neutral-300">
      <%= inline_svg_tag "icons/brands/github.svg", class: "w-5 h-5 dark:fill-neutral-400" %>
      <span>GitHub</span>
    </a>
    <a href="https://patreon.com/tangotube" class="flex items-center gap-2 hover:text-neutral-300">
      <%= inline_svg_tag "icons/brands/patreon.svg", class: "w-4 h-4 dark:fill-neutral-400" %>
      <span>Patreon</span>
    </a>
  </p>
</div>