<div 
  class="hidden lg:flex flex-col sm:flex-row items-center gap-4 justify-center bg-neutral-950 py-2" 
  data-controller="quote-cycler countdown-timer" 
  data-quote-cycler-interval-value="5000" 
  data-countdown-timer-target-time-value="2024-11-18T22:00:00Z"
>
  <div class="flex gap-4 items-center">
    <h3 class="font-semibold text-neutral-200 text-sm">
      The people who are crazy enough to think they can change the world are the ones who do.
    </h2>
  </div>
</div>
</div>