<div 
  class="hidden lg:flex flex-col sm:flex-row items-center gap-4 justify-center bg-neutral-950 py-2" 
  data-controller="quote-cycler countdown-timer" 
  data-quote-cycler-interval-value="5000" 
  data-countdown-timer-target-time-value="2024-11-18T22:00:00Z"
>
  <div class="flex gap-4 items-center">
    <h2 class="font-bold text-neutral-200 text-md">Starship Flight Test 6</h2>
    <span class="text-lg text-orange-400">🚀</span>
  </div>
  <div class="flex gap-2 items-center justify-center text-orange-400 text-[0.75rem]">
    <div class="flex flex-col items-center">
      <span data-countdown-timer-target="days" class="bg-black text-orange-400 px-1 py-0.5 rounded font-bold min-w-[2ch]">00</span>
      <span class="text-[0.6rem] text-neutral-400 mt-0.5">Days</span>
    </div>
    <span class="text-[0.6rem] text-orange-400">:</span>
    <div class="flex flex-col items-center">
      <span data-countdown-timer-target="hours" class="bg-black text-orange-400 px-1 py-0.5 rounded font-bold min-w-[2ch]">00</span>
      <span class="text-[0.6rem] text-neutral-400 mt-0.5">Hours</span>
    </div>
    <span class="text-[0.6rem] text-orange-400">:</span>
    <div class="flex flex-col items-center">
      <span data-countdown-timer-target="minutes" class="bg-black text-orange-400 px-1 py-0.5 rounded font-bold min-w-[2ch]">00</span>
      <span class="text-[0.6rem] text-neutral-400 mt-0.5">Minutes</span>
    </div>
    <span class="text-[0.6rem] text-orange-400">:</span>
    <div class="flex flex-col items-center">
      <span data-countdown-timer-target="seconds" class="bg-black text-orange-400 px-1 py-0.5 rounded font-bold min-w-[2ch]">00</span>
      <span class="text-[0.6rem] text-neutral-400 mt-0.5">Seconds</span>
    </div>
  </div>
</div>
</div>