<footer class="p-8 bg-neutral-100 dark:bg-neutral-900">
  <div class="container px-2 mx-auto text-center gap-8 sm:flex sm:justify-between sm:items-center">
    <div class="mb-6 sm:mb-0">
      <p class="font-normal text-neutral-800 dark:text-neutral-400">
        TangoCloud © <%= Time.current.year %>
      </p>
    </div>

    <ul class="flex flex-col space-y-4 sm:space-y-0 sm:flex-row sm:space-x-8">
      <li>
        <%= link_to "Privacy Policy", privacy_path, class: "text-neutral-600 dark:text-neutral-400 hover:text-neutral-800 dark:hover:text-neutral-200 transition ease-in-out duration-200" %>
      </li>
      <li>
        <%= link_to "Terms of Service", terms_path, class: "text-neutral-600 dark:text-neutral-400 hover:text-neutral-800 dark:hover:text-neutral-200 transition ease-in-out duration-200" %>
      </li>
      <li>
        <%= link_to "Data Deletion", data_deletion_path, class: "text-neutral-600 dark:text-neutral-400 hover:text-neutral-800 dark:hover:text-neutral-200 transition ease-in-out duration-200" %>
      </li>
    </ul>
  </div>
</footer>
