.app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__main {
    max-width: 1200px;
  }

  &__content {
    padding-top: 60px;
  }
}
