.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  color: var(--button-text-primary-default);
  background-color: var(--button-bg-primary-base);
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--button-bg-primary-hover);
  }

  &--secondary {
    color: var(--button-text-secondary-default);
    background-color: var(--button-bg-secondary-base);

    &:hover {
      background-color: var(--button-bg-secondary-hover);
    }
  }

  &--danger {
    color: var(--button-text-danger-default);
    background-color: var(--button-bg-danger-base);

    &:hover {
      background-color: var(--button-bg-danger-hover);
    }
  }

  @include caption-regular();
}

.button_to {
  width: 100%;
}
