<%# locals: { user_library: } %>
<div class="flex flex-col gap-4">
  <h1 class="text-2xl font-bold dark:text-neutral-300">Your Library</h1>
  <div
    id="library-items"
    class="flex flex-col gap-2"
    data-controller="sortable"
    data-sortable-url-value="<%= reorder_library_item_path(id: ":id") %>"
  >
    <%= render collection: user_library.library_items.includes(item: { image_attachment: :blob }).rank(:row_order), partial: "library_items/library_item" %>
  </div>
</div>