<%# locals: {recordings:, tanda:} %>
<div class="flex flex-col gap-4">
  <% if recordings.any? %>
    <%= render collection: recordings, partial: 'tandas/recording_form', locals: { tanda: }, as: :recording %>
  <% else %>
    <p class="text-neutral-500">No recordings found.</p>
  <% end %>
</div>