<% if tanda_recordings.any? %>
  <%= render tanda_recordings %>
<% else %>
  <p class="text-center text-neutral-500">
    No songs added to the Tanda yet. Use the search below in order to find recordings to add to the Tanda.
  </p>
<% end %>