nav.navbar
  = nav_link_to "TangoCloud", root_path, class: "nav-link"
  ul.menu
    - if Current.user
      li
        = nav_link_to "Edit profile", edit_identity_email_path, class: "nav-link"
      = button_to "Sign Out", Current.session, method: :delete, class: "text-red-400 hover:text-red-600 font-medium"
    - else
      li
        = nav_link_to "Sign up", new_user_registration_path, class: "nav-link"
      li
        = nav_link_to "Login", new_user_session_path, class: "nav-link"
