/* fix the dropdown button to links, by default daisyui adds padding to the form element */
/* therefore the inner button does not fill the dropdown item */
/* and only the text of the button is clickable */
.menu li form.button_to {
  padding: 0;
  display: block;
}

.menu li form.button_to button {
  display: inline-flex;
  width: 100%;
  text-align: start;
  align-items: center;
  padding: 12px 8px 12px 12px;
}


.dropdown-middle {
  transform: translateX(-50%);
  left: 50%;
}