@layer components {
  .form-container {
    @apply w-full min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 dark:bg-black;
  }

  .form-wrapper {
    @apply w-full max-w-md lg:max-w-lg flex flex-col gap-12;
  }

  .form-group {
    @apply flex flex-col gap-2;
  }

  .form-header {
    @apply mx-auto h-32 w-auto fill-black dark:fill-neutral-100 lg:h-48 transition-all duration-300 ease-in-out;
  }

  .form-body {
    @apply flex flex-col gap-6 md:gap-8;
  }

  .form-input-group {
    @apply flex flex-col gap-2 w-full rounded-md;
  }

  .label {
    @apply block text-sm font-medium leading-6 text-neutral-600 dark:text-neutral-300;
  }

  .input-disabled,
  .input-readonly {
    @apply bg-neutral-200 text-neutral-500 rounded-md py-3 px-4 h-12 cursor-not-allowed dark:bg-neutral-800 dark:text-neutral-500;
  }

  .input {
    @apply appearance-none font-light text-slate-900 bg-white rounded-md block w-full py-3 px-4 h-12 sm:text-sm focus:outline-none placeholder:text-slate-400
      dark:bg-neutral-900 dark:text-neutral-300 dark:placeholder-neutral-400
      dark:ring-neutral-600 dark:focus:ring-indigo-400 dark:focus:border-indigo-400
      transition-all duration-300 ease-in-out focus:ring-2 focus:border-indigo-500 hover:ring-indigo-400 hover:border-indigo-400;
  }

  .button {
    @apply w-full inline-flex justify-center py-3 px-4 cursor-pointer border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700
      focus:outline-none transition-all duration-300 ease-in-out;
  }

  .link {
    @apply text-sm font-light text-slate-500 hover:text-slate-800 dark:text-neutral-400 dark:hover:text-neutral-200 transition-colors duration-300 ease-in-out;
  }

  .actions {
    @apply flex flex-col gap-2;
  }

  .form-footer {
    @apply flex flex-col gap-6 items-center;
  }

  .form-error {
    @apply text-red-500 text-sm dark:text-red-400 transition-opacity duration-300 ease-in-out;
  }
}
