/** Circular Font Definitions */
@font-face {
  font-family: "Circular";
  font-weight: 900;
  font-style: italic;
  src: url_for("../fonts/circular-black-italic.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: 900;
  src: url_for("../fonts/circular-black.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: 700;
  font-style: italic;
  src: url_for("../fonts/circular-bold-italic.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: italic;
  src: url_for("../fonts/circular-medium-italic.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  src: url_for("../fonts/circular-medium.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: 400;
  font-style: italic;
  src: url_for("../fonts/circular-book-italic.otf");
}