.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;

  &__main {
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__content {
    padding-top: 60px;
    max-width: 90%;
  }
}
