.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  background-color: var(--color-gray-200);
  border-radius: 50%;

  &--new-user {
    background-image: url("../images/icons/new-user.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
