.input-container {
}

.input-label {
  font-size: 16px;
}

.input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--input-border-primary-default);
  background: var(--input-bg-primary-default);
  width: 100%;
  font-size: 16px;
}

.input:not(:placeholder-shown) ~ .input-label,
.input:focus ~ .input-label {
  font-size: 12px;
  top: -10px;
  left: 10px;
  color: var(--color-text-input-primary-default);
}

.input.has-content ~ .input-label {
  display: none;
}
