.text {
  &--h1-bold {
    @include h1-bold();
  }

  &--h2-bold {
    @include h2-bold();
  }

  &--h3-bold {
    @include h3-bold();
  }

  &--h4-bold {
    @include h4-bold();
  }

  &--caption-bold {
    @include caption-bold();
  }

  &--caption-regular {
    @include caption-regular();
  }

  &--mini-regular {
    @include mini-regular();
  }

  &--tiny-regular {
    @include tiny-regular();
  }

  &--tiny-bold {
    @include tiny-bold();
  }

  &--center {
    text-align: center;
  }

  &--no-wrap {
    white-space: nowrap;
  }

  &--truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--break {
    word-break: break-all;
    @media (min-width: 1000px) {
      word-break: normal;
    }
  }
}
