.upload-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  height: calc(100dvh);
}

.upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 2px dashed #444;
  border-radius: 0.5rem;
  background-color: #999;
  cursor: pointer;
  &:hover {
    background-color: #888;
  }
  transition: background-color 0.2s ease-in-out;
}

// .upload-trigger {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   padding: 2rem;
//   border: 2px dashed #444;
//   border-radius: 0.5rem;
//   text-align: center;
//   cursor: pointer;
// }

.upload-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  background-color: var(--color-gray-200);
  background-image: url("../images/icons/waveform.circle.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.upload-text {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: semibold;
  color: #999;
}

.file-input {
  display: none;
}

.uploads-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
}
