* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-decoration: none;
  font-weight: 100;
}

html,
body {
  @include paragraph-regular;
  min-height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: var(--color-background);
  font-feature-settings:
    "kern" 1,
    "onum" 0,
    "liga" 1;
  caret-color: var(--color-tint);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

strong {
  font-weight: 600;
}
