#app {
    overflow: hidden;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    #matches {
        overflow-y: scroll;
        box-sizing: content-box;
        width: 30%;

        .matching-data {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            margin-bottom: 2px;

            .mapping {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                padding-left: 14px;

                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: black;
                }
            }
        }

        .p-slim {
            margin: 0;
            padding: 0;
            text-align: start;
        }
    }

    #left {
        overflow-y: scroll;
        width: 20%;
        display: flex;
        flex-direction: column;

        input {
            flex-grow: 2;
        }
    }
    
    #right {
        overflow-y: scroll;
        width: 50%;
        display: flex;
        flex-direction: column;

        .filter {
            display: flex;
            input {
                width: 100%;
            }

            .date-input {
                width: 40px;
            }
        }

        .recording-table {
            width: 100%;
        }
    }
}

.panel {
    overflow-x: hidden;
    margin: 2px;

    .commands {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 30px;
        width: 100%;

        .dates {
            width: 180px;
            padding-right: 8px;
        }

        .filter {
            display: flex;
        }
    }
}

.selected-row {
    background-color: forestgreen;
}

.recording-row {
    cursor: pointer;
}

.label {
    margin-right: 4px;
}

.red-background {
    background-color: crimson;
}

.green-background {
    background-color: forestgreen;
}

.to-be-matched-row {
    background-color: orange;
}

.single-matching-record {
    padding: 4px;
}

.duplicate {
    font-weight: bold;
}