<% cache(@queue) do %>
  <div class="container flex flex-col p-4 gap-4 items-center dark:bg-black">
    <h1 class="text-2xl font-bold dark:text-neutral-300">Queue</h1>
    <div class="flex flex-col gap-4 w-full">
      <%= render collection: @queue.queue_items, partial: "queues/queue_item" %>
    </div>
  </div>
<% end %>