h1.text-2xl.font-bold.mt-4.mb-2 Data Deletion Instructions
p.mb-4
  | If you wish to delete your data from TangoCloud, please follow these steps:
ol.list-decimal.list-inside.mb-4
  li.mb-2
    | Send a POST request to our data deletion endpoint:
    code.block.bg-gray-100.text-gray-800.p-2.rounded
      | https://tangocloud.app/auth/facebook/data-deletion/
  li.mb-2
    | Include your Facebook user ID in the request.
p.text-gray-600
  | Your data will be deleted from our system within 30 days of the request.
