<%# locals: { playlist: } %>
<% cache(playlist) do %>
  <div class="flex flex-col items-center w-32">
    <%= link_to playlist, class: "block w-full h-32 rounded-lg overflow-hidden group" do %>
      <% if playlist.image.present? %>
        <%= image_tag playlist.image, class: "w-full h-full object-cover" %>
      <% else %>
        <div class="w-full h-full bg-neutral-200 dark:bg-neutral-800"></div>
      <% end %>
    <% end %>
    <div class="mt-2 text-center">
      <h2 class="text-sm font-semibold text-neutral-800 dark:text-neutral-100">
        <%= playlist.title %>
      </h2>
      <p class="text-xs font-light text-neutral-600 dark:text-neutral-400">
        <%= playlist.subtitle %>
      </p>
    </div>
  </div>
<% end %>