<%# locals: { playlist: } %>
<% cache(playlist) do %>
  <%= link_to playlist, class: "flex gap-2 dark:bg-neutral-900 rounded-lg dark:hover:bg-neutral-800 snap-start overflow-hidden" do %>
    <% if playlist.image.present? %>
      <%= image_tag playlist.image, class: "h-16 aspect-square object-cover flex-shrink-0" %>
    <% else %>
      <div class="h-16 aspect-square bg-neutral-200 dark:bg-neutral-800 rounded-l-lg flex-shrink-0"></div>
    <% end %>
    <div class="flex flex-col py-1 px-2 justify-center p-4 flex-grow overflow-hidden">
      <h2 class="text-xs md:text-md font-md text-neutral-900 dark:text-neutral-100 text-wrap">
        <%= playlist.title %>
      </h2>
      <p class="text-xs text-neutral-500 dark:text-neutral-400 truncate">
        <%= playlist.subtitle %>
      </p>
    </div>
  <% end %>
<% end %>