<%# locals: { playlist_item: } %>
<% cache(playlist_item) do %>
  <div class="w-full flex flex-col gap-2 rounded-lg">
    <% if playlist_item.item.is_a?(Tanda) %>
      <%= render partial: 'playlists/tanda', locals: { playlist: playlist_item.playlist, tanda: playlist_item.item } %>
    <% elsif playlist_item.item.is_a?(Recording) %>
      <%= render partial: "recording_form", locals: { playlist: playlist_item.playlist, recording: playlist_item.item }%>
    <% end %>
  </div>
<% end %>
