<div class="playlist-items">
  <% @playlist.playlist_items.each do |playlist_item| %>
    <% if playlist_item.item.is_a?(Tanda) %>
      <%= render partial: 'tandas/tanda', locals: { tanda: playlist_item.item } %>
    <% elsif playlist_item.item.is_a?(Recording) %>
      <%= render partial: 'recordings/recording', locals: { recording: playlist_item.item } %>
    <% end %>
  <% end %>
</div>
