<%# locals: { playlist: } %>
<% cache(playlist) do %>
  <%= link_to playlist, class: "relative block w-32 h-32 rounded-lg overflow-hidden snap-start group" do %>
    <% if playlist.image.present? %>
      <%= image_tag playlist.image, class: "absolute inset-0 w-full h-full object-cover" %>
    <% else %>
      <div class="absolute inset-0 w-full h-full bg-neutral-200 dark:bg-neutral-800"></div>
    <% end %>
    <div class="absolute bottom-0 left-0 right-0 h-24 bg-gradient-to-t from-black to-transparent pointer-events-none"></div>
    <div class="absolute bottom-0 left-0 right-0 px-2 py-1">
      <h2 class="relative text-xs font-semibold text-white truncate">
        <%= playlist.title %>
      </h2>
      <p class="relative text-xs font-extralight text-white truncate">
        <%= playlist.subtitle %>
      </p>
    </div>
  <% end %>
<% end %>
