<%# locals: (playlist:, recording:) %>
<% cache([:playlist, :recording_form, recording]) do %>
  <div class="w-full flex gap-2 items-center bg-neutral-900 hover:cursor-pointer hover:bg-neutral-800">
    <%= form_with url: load_playlist_recording_path(playlist_id: playlist.id, id: recording.id), class: "flex flex-1 gap-4 items-center w-full" do |form| %>
      <%= button_tag type: :submit, class: "flex w-full gap-4 items-center text-left w-full" do %>
        <%= render partial: "recordings/recording", locals: { recording: recording } %>
      <% end %>
    <% end %>
  </div>
<% end %>