<%# locals: {orchestra: } %>
<% cache(orchestra) do %>
  <div class="relative w-36 h-36 rounded-lg overflow-hidden snap-start">
    <% if orchestra.image.attached? %>
      <%= image_tag orchestra.image, class: "absolute inset-0 max-w-full h-auto aspect-square object-cover" %>
    <% else %>
      <div class="absolute inset-0 max-w-full h-auto bg-neutral-200 dark:bg-neutral-800"></div>
    <% end %>
    <div class="absolute bottom-0 left-0 right-0 h-24 bg-gradient-to-t from-black to-transparent pointer-events-none"></div>
    <div class="absolute bottom-0 left-0 right-0 px-2 py-1">
      <h2 class="relative text-xs font-semibold text-white truncate">
        <%= orchestra.display_name %>
      </h2>
    </div>
  </div>
<% end %>