<div class="flex flex-col gap-2 px-4 xl:px-0">
  <h1 class="col-span-full text-3xl font-semibold text-neutral-900 dark:text-neutral-100">Orchestras</h1>
  <% if @orchestras.present? %>
    <div class="grid gap-4 grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8">
      <%= render @orchestras %>
    </div>
  <% else %>
    <div class="flex flex-col items-center gap-4 py-8">
      <div class="text-center">
        <%= inline_svg_tag("logos/tangocloud-logo-with-text.svg", class: "w-36 h-auto mx-auto dark:fill-neutral-100") %>
      </div>
      <p class="text-center text-neutral-600 dark:text-neutral-300">No Orchestras found.</p>
    </div>
  <% end %>
</div>