<div class="form-container">
  <div class="w-full max-w-4xl flex flex-col gap-6">
    <h1 class="text-2xl font-bold mb-6 text-center">Activity Log</h1>
    <div id="sessions" class="space-y-4">
      <%= render @events %>
    </div>
  </div>
</div>
